
<div class="grid-container">
  <div class="grid-25">
		I am 25% wide.
	</div>
  <div class="grid-50">
	  	<div class="grid-container">
			  <div class="grid-25" id="daystime">
			    days
	  		  </div>
			  <div class="grid-25" id="hourstime">
			   	hours
	  		  </div>
	  		  <div class="grid-25" id="minutestime">
			    minutes
			  </div>
	  		  <div class="grid-25" id="secondstime">
			  	seconds
			  </div>
		</div>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Easter-Easter-rabbit-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Animals-Cow-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Animals-Pig-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Easter-Easter-rabbit-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>