
<div class="grid-container">
  <div class="grid-25">
		25%
	</div>
  <div class="grid-50">
    <form>
		<input type="button" value="Start count!" onclick="doTimer()" />
		<input type="text" id="txt" />
		<input type="button" value="Stop count!" onclick="stopCount()" />
		<input type="button" value="Reset count!" onclick="resetCount()" />
		</form>
		<p>
		Click on the "Start count!" button above to start the timer. The input field will count forever, starting at 0. Click on the "Stop count!" button to stop the counting. Click on the "Start count!" button to start the timer again.
		</p>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Easter-Easter-rabbit-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Animals-Cow-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Animals-Pig-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Easter-Easter-rabbit-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>